<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Anime</title>
</head>
<body>
   <form th:action="@{/add}" th:object="${anime}" method="post">
       <div>
           <label for="animeName">Anime Name</label>
           <input id="animeName" type="text" th:field="*{animeName}"/>
       </div>
       <br>
       <div>
           <label for="description">Description</label>
           <textarea id="description" type="text" th:field="*{description}"></textarea>
       </div>
       <br>
       <div>
           <label for="genre">Genre</label>
           <input id="genre" type="text" th:field="*{genre}"/>
       </div>
       <br>
       <div>
           <label for="episodes">Episodes</label>
           <input id="episodes" type="number" th:field="*{episodes}"/>
       </div>
       <br>
       <input type="submit" value="Submit"/>
   </form>
</body>
</html>