<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="fragments/anime-base :: headerFiles"></th:block>
    <title>Anime Archive</title>
</head>
<body>
<div th:replace="fragments/anime-base :: navigation"></div>
<div th:replace="fragments/anime-base :: header"></div>
<div class="container-fluid mt-5">
   <div th:each="a: ${anime}">
       <div class="row justify-content-center mb-5">
           <div class="col-2 col-md-4"></div>
           <div class="col-8 col-md-4 card">
               <div class="card-body">
                   <h5 class="card-title" th:text="${a.animeName}"></h5>
                   <span th:text="'Description: ' + ${a.description}"></span>
                   <br>
                   <span th:text="'Genre: ' + ${a.genre}"></span>
                   <br>
                   <span th:text="'Episodes: ' + ${a.episodes}"></span>
                   <br>
                   <span th:text="'Date created: ' + ${#temporals.format(a.created, 'dd-MM-yyyy HH:mm')}"></span>
                   <br>
                   <span th:text="'Date modified: ' + ${#temporals.format(a.modified, 'dd-MM-yyyy HH:mm')}"></span>

               </div>
           </div>
           <div class="col-2 col-md-4"></div>
       </div>
   </div>
</div>
<div th:replace="fragments/anime-base :: footer"></div>
</body>
<th:block th:replace="fragments/anime-base :: scripts"></th:block>
</html>